@import "tailwindcss";

@theme {
    --color-gunmetal: #162C29;
    --color-lion: #bc9353;
    --color-light: #ffffff;
    --color-dark: #232727;
    --font-title: "Cormorant Garamond", "serif";
    --font-body: "Montserrat", "sans-serif";
    --text-hero: 6rem;
    --text-title: 3rem;
    --text-subtitle: 1.5rem;
    --text-button: 1.2rem;
    --text-body: 1rem;
    --text-small: 0.8rem;
}

@layer utilities {
    .t-hero {
        font-family: var(--font-title);
        font-size: var(--text-hero);
        font-weight: 700;
        line-height: 1.2;
        color: var(--color-lion);
    }
    .t-title {
        font-family: var(--font-title);
        font-size: var(--text-title);
        font-weight: 700;
        line-height: 1.2;
    }

  .t-subtitle {
        font-family: var(--font-title);
        font-size: var(--text-subtitle);
        font-weight: 600;
        line-height: 1.2;
    }

  .t-body {
        font-family: var(--font-body);
        font-size: var(--text-body);
        font-weight: 400;
        line-height: 1.5;
    }

  .t-body-bold {
        font-family: var(--font-body);
        font-size: var(--text-body);
        font-weight: 700;
        line-height: 1.5;
    }

  .t-small {
        font-family: var(--font-body);
        font-size: var(--text-small);
        font-weight: 400;
        line-height: 1.3;
    }

  .t-small-bold {
        font-family: var(--font-body);
        font-size: var(--text-small);
        font-weight: 700;
        line-height: 1.3;
    }

   .t-button {
        font-family: var(--font-title);
        font-size: var(--text-button);
        font-weight: 700;
        line-height: 1.5;
   }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}
