---
import Logo from "../../../public/logo.svg";
import { MENU_ITEMS, ROUTES } from "../../lib/routes";
import MenuButton from "../ui/MenuButton";
---
<header class="flex items-center justify-between px-6 py-4 relative bg-gunmetal border-b border-lion">
  <a href={ROUTES.HOME}>
    <img src={Logo.src} 
         alt="Aurum Logo" 
         class="h-12" 
    />
  </a>
  <div class="md:hidden">
    <MenuButton client:load />
  </div>
  <nav
    id="menu"
    class="hidden flex-col gap-4 absolute top-full left-0 w-screen 
           bg-gunmetal p-6
           md:static md:flex md:flex-row md:gap-6 md:w-auto md:bg-transparent md:p-0 border-t-2 border-t-lion md:border-t-transparent"
  >
    {MENU_ITEMS.map(item => (
      <a
        href={item.path}
        class="relative text-light text-center inline-block hover:text-lion t-button"
      >
        {item.name}
      </a>
    ))}
  </nav>
</header>
