---
import MenuWrapper from "../components/ui/MenuWrapper";
import Layout from "../layouts/Layout.astro";
---
<Layout 
  title="Aurum - Menu"
  style={`background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('/images/menu/white.jpg'); background-size: cover; background-position: center; background-attachment: fixed;`}
>
  <section class="bg-gunmetal px-6 py-24 flex flex-col items-center justify-center text-center gap-4">
    <h1 class="t-title text-lion">Menu Aurum</h1>
    <p class="t-subtitle text-white">Descubre nuestra cuidadosa selección de platos preparados con ingredientes premium</p>
  </section>
  <MenuWrapper client:load />
</Layout>